/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

button, input[type="button"], input[type="reset"], input[type="submit"], .button {
  background-color: rgba(96, 166, 36, 1.000);
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover {
  background-color: rgba(8, 166, 36, 1.000);
}

.cell-label a, a, a:hover, a:visited, a:focus {
  color: rgba(96, 166, 36, 1.000);
}

.cell-data a,
.cell-data a:visited,
.cell-data a:focus,
.cell-data a:hover {
  color: #293f54;
}

a.button,
a.button:visited,
a.button:focus,
a.button:hover {
  color: white;
}

aside {
  padding: 25px;
}

